### Importing Necessary Libraries

In [1]:
from pyspark.sql import SparkSession, functions as F, types as T
from pyspark.sql import *

### Creating Spark Session

In [2]:
spark = SparkSession.builder.master("local[1]").appName("SparkPractice.com").getOrCreate()
spark

### Reading JSON File

In [3]:
data = spark.read.json('zipcodes.json')
data.createOrReplaceTempView("ZIPCODES")
data.show()

+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|State|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|
|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|   TX|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|
|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|           FT WORTH|     US|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|         null|       61393|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|   AZ|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|
|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|   AZ|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|
|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|   FL|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|
|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|
|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|   FL|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|
|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|
|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|   AL|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|
|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|   AL|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|
|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|   AL|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|
|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|   NC|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|
|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|   NC|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
only showing top 20 rows

### About the data

In [4]:
data.printSchema()

root
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- EstimatedPopulation: long (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Location: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Long: double (nullable = true)
 |-- Notes: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- State: string (nullable = true)
 |-- TaxReturnsFiled: long (nullable = true)
 |-- TotalWages: long (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Xaxis: double (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- Zipcode: long (nullable = true)

In [5]:
data.count()

21

### Selecting Columns

In [6]:
data.select("country","city","zipcode","state").show(5)

+-------+-------------------+-------+-----+
|country|               city|zipcode|state|
+-------+-------------------+-------+-----+
|     US|        PARC PARQUE|    704|   PR|
|     US|PASEO COSTA DEL SUR|    704|   PR|
|     US|       BDA SAN LUIS|    709|   PR|
|     US|  CINGULAR WIRELESS|  76166|   TX|
|     US|         FORT WORTH|  76177|   TX|
+-------+-------------------+-------+-----+
only showing top 5 rows

spark.sql("SELECT country, city, zipcode, state FROM ZIPCODES").show(5)

### Filtering Rows

In [7]:
data.select("country","city","zipcode","state").where("state == 'AZ'").show(5)

+-------+----+-------+-----+
|country|city|zipcode|state|
+-------+----+-------+-----+
|     US|MESA|  85209|   AZ|
|     US|MESA|  85210|   AZ|
+-------+----+-------+-----+

spark.sql(" SELECT  country, city, zipcode, state FROM ZIPCODES WHERE state = 'AZ' ").show(5)

### Sorting/Ordering

In [8]:
data.select("country","city","zipcode","state").where("state in ('PR','AZ','FL')").orderBy("state").show(10)

+-------+-------------------+-------+-----+
|country|               city|zipcode|state|
+-------+-------------------+-------+-----+
|     US|               MESA|  85209|   AZ|
|     US|               MESA|  85210|   AZ|
|     US|           HILLIARD|  32046|   FL|
|     US|          HOMOSASSA|  34487|   FL|
|     US|             HOLDER|  34445|   FL|
|     US|               HOLT|  32564|   FL|
|     US|        PARC PARQUE|    704|   PR|
|     US|PASEO COSTA DEL SUR|    704|   PR|
|     US|       BDA SAN LUIS|    709|   PR|
|     US|    URB EUGENE RICE|    704|   PR|
+-------+-------------------+-------+-----+
only showing top 10 rows

spark.sql(" SELECT  country, city, zipcode, state FROM ZIPCODES WHERE state in ('PR','AZ','FL') order by state ").show(10)

### Grouping

In [9]:
data.groupBy("state").count().show()

+-----+-----+
|state|count|
+-----+-----+
|   AZ|    2|
|   NC|    3|
|   AL|    3|
|   TX|    3|
|   FL|    4|
|   PR|    6|
+-----+-----+

spark.sql(" SELECT state, count(*) as count FROM ZIPCODES GROUP BY state").show()

### Creating new data frame from existing dataframe

In [10]:
csdata = data.select("country", "state").limit(18)
csdata.show()

+-------+-----+
|country|state|
+-------+-----+
|     US|   PR|
|     US|   PR|
|     US|   PR|
|     US|   TX|
|     US|   TX|
|     US|   TX|
|     US|   PR|
|     US|   AZ|
|     US|   AZ|
|     US|   FL|
|     US|   FL|
|     US|   FL|
|     US|   FL|
|     US|   PR|
|     US|   PR|
|     US|   AL|
|     US|   AL|
|     US|   AL|
+-------+-----+

### Dropping duplicates using **dropDuplicates**

In [11]:
csdata1 = csdata.dropDuplicates(["state"])
csdata1.show()

+-------+-----+
|country|state|
+-------+-----+
|     US|   AL|
|     US|   AZ|
|     US|   FL|
|     US|   PR|
|     US|   TX|
+-------+-----+

### Dropping duplicates using **distinct**

In [12]:
csdata2 = csdata.distinct()
csdata2.show()

+-------+-----+
|country|state|
+-------+-----+
|     US|   PR|
|     US|   TX|
|     US|   AZ|
|     US|   FL|
|     US|   AL|
+-------+-----+

### Dropping rows using **filter**

In [13]:
csdata3 = csdata1.filter(csdata.state != "AL")
csdata3.show()

+-------+-----+
|country|state|
+-------+-----+
|     US|   AZ|
|     US|   FL|
|     US|   PR|
|     US|   TX|
+-------+-----+

### Dropping rows using **where**

In [14]:
csdata4 = csdata2.where("state != 'TX'")
csdata4.show()

+-------+-----+
|country|state|
+-------+-----+
|     US|   PR|
|     US|   AZ|
|     US|   FL|
|     US|   AL|
+-------+-----+

### Dropping rows using **drop**

Drop a row with index 0 (first row)

csdata4 = csdata1.drop(0)

### Adding a row by using **union**

new_row = spark.createDataFrame([("UK", "NI")], ["country", "state"])

csdata = csdata.union(new_row)

### Adding a row by using **collect** and **append**

In [15]:
#Collect the entire existing DataFrame as a list.
data_list = csdata.collect()
#Append the new row data to the list.
data_list.append(("UK","NI"))
#Create a new DataFrame from the updated list.
# newdata = spark.createDataFrame(data_list, csdata.schema)

### Adding a row by using **Spark SQL**

spark.sql("INSERT INTO csdata VALUES ('UK','NI')")

### Joins

In [16]:
left_join = data.join(csdata3, on="state", how="left")
left_join.show()

+-----+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+-------+
|State|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|country|
+-----+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+-------+
|   PR|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|
|   PR|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|
|   PR|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|     US|
|   TX|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|     US|
|   TX|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|     US|
|   TX|           FT WORTH|     US|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|         null|       61393|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|     US|
|   PR|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|
|   AZ|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|     US|
|   AZ|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|     US|
|   FL|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|     US|
|   FL|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|     US|
|   FL|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|     US|
|   FL|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|     US|
|   PR|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|     US|
|   PR|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|
|   AL|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|   null|
|   AL|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|   null|
|   AL|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|   null|
|   NC|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|   null|
|   NC|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|   null|
+-----+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+-------+
only showing top 20 rows

**Left join** keeps all rows from the left DataFrame and matching rows from the right DataFrame based on the join condition.

In [17]:
ljoin = data.join(csdata3, data.State == csdata3.state, 'left')
ljoin.show()

+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+-------+-----+
|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|State|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|country|state|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+-------+-----+
|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|   PR|
|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|   PR|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|     US|   PR|
|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|   TX|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|     US|   TX|
|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|     US|   TX|
|           FT WORTH|     US|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|         null|       61393|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|     US|   TX|
|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|   PR|
|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|   AZ|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|     US|   AZ|
|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|   AZ|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|     US|   AZ|
|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|   FL|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|     US|   FL|
|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|     US|   FL|
|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|   FL|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|     US|   FL|
|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|     US|   FL|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|     US|   PR|
|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|   PR|
|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|   AL|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|   null| null|
|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|   AL|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|   null| null|
|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|   AL|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|   null| null|
|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|   NC|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|   null| null|
|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|   NC|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|   null| null|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+-------+-----+
only showing top 20 rows

Match on different columns in left & right datasets

In [18]:
mjoin = data.join(csdata4, ['country', 'state'], 'left')
mjoin.show()

+-------+-----+-------------------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|Country|State|               City|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-------+-----+-------------------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|     US|   PR|        PARC PARQUE|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|     US|   PR|PASEO COSTA DEL SUR|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|     US|   PR|       BDA SAN LUIS|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|
|     US|   TX|  CINGULAR WIRELESS|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|
|     US|   TX|         FORT WORTH|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|     US|   TX|           FT WORTH|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|         null|       61393|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|     US|   PR|    URB EUGENE RICE|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|     US|   AZ|               MESA|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|
|     US|   AZ|               MESA|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|
|     US|   FL|           HILLIARD|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|
|     US|   FL|             HOLDER|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|
|     US|   FL|               HOLT|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|
|     US|   FL|          HOMOSASSA|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|
|     US|   PR|       BDA SAN LUIS|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|
|     US|   PR|      SECT LANAUSSE|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|     US|   AL|      SPRING GARDEN|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|
|     US|   AL|        SPRINGVILLE|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|
|     US|   AL|        SPRUCE PINE|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|
|     US|   NC|           ASH HILL|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|
|     US|   NC|           ASHEBORO|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|
+-------+-----+-------------------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+
only showing top 20 rows

Match on multiple columns

In [19]:
right_join = data.join(csdata4, on="state", how="right")
right_join.show()

+-----+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+-------+
|state|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|country|
+-----+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+-------+
|   PR|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|
|   PR|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|     US|
|   PR|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|
|   PR|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|     US|
|   PR|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|
|   PR|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|
|   AZ|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|     US|
|   AZ|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|     US|
|   FL|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|     US|
|   FL|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|     US|
|   FL|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|     US|
|   FL|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|     US|
|   AL|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|     US|
|   AL|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|     US|
|   AL|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|     US|
+-----+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+-------+

**Right join** keeps all rows from the right DataFrame and matching rows from the left DataFrame based on the join condition.

In [20]:
fullouter_join = data.join(csdata3, on="state", how="full")
fullouter_join.show()

+-----+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+-------+
|State|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|country|
+-----+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+-------+
|   AL|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|   null|
|   AL|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|   null|
|   AL|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|   null|
|   AZ|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|     US|
|   AZ|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|     US|
|   FL|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|     US|
|   FL|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|     US|
|   FL|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|     US|
|   FL|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|     US|
|   NC|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|   null|
|   NC|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|   null|
|   NC|           ASHEBORO|     US|        false|               1816|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76513|           1035|  30322473|         NA| 0.14|-0.79| 0.58|     PO BOX|  27204|   null|
|   PR|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|
|   PR|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|
|   PR|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|     US|
|   PR|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|
|   PR|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|     US|
|   PR|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|     US|
|   TX|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|     US|
|   TX|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|     US|
+-----+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+-------+
only showing top 20 rows

**Full Outer join** includes all rows from both DataFrames, regardless of whether there's a match in the other DataFrame

In [21]:
leftsemi_join = data.join(csdata4, on="state", how="leftsemi")
leftsemi_join.show()

+-----+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|State|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-----+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|   PR|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|   PR|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|   PR|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|
|   PR|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|   AZ|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|
|   AZ|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|
|   FL|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|
|   FL|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|
|   FL|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|
|   FL|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|
|   PR|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|
|   PR|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|   AL|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|
|   AL|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|
|   AL|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|
+-----+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+

**Left Semi Join** returns only rows from the left DataFrame that have a matching value in the right DataFrame.

In [22]:
leftanti_join = data.join(csdata3, on="state", how="leftanti")
leftanti_join.show()

+-----+-------------+-------+-------------+-------------------+-----+--------------------+-----------------+--------------+------+-----+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|State|         City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|     LocationText|  LocationType|  Long|Notes|RecordNumber|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-----+-------------+-------+-------------+-------------------+-----+--------------------+-----------------+--------------+------+-----+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|   AL|SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|Spring Garden, AL|       PRIMARY|-85.55| null|       54354|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|
|   AL|  SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|  Springville, AL|       PRIMARY|-86.47| null|       54355|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|
|   AL|  SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|  Spruce Pine, AL|       PRIMARY|-87.69| null|       54356|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|
|   NC|     ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|     Ash Hill, NC|NOT ACCEPTABLE|-80.56| null|       76511|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|
|   NC|     ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|     Asheboro, NC|       PRIMARY|-79.81| null|       76512|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|
|   NC|     ASHEBORO|     US|        false|               1816|35.71|   NA-US-NC-ASHEBORO|     Asheboro, NC|       PRIMARY|-79.81| null|       76513|           1035|  30322473|         NA| 0.14|-0.79| 0.58|     PO BOX|  27204|
+-----+-------------+-------+-------------+-------------------+-----+--------------------+-----------------+--------------+------+-----+------------+---------------+----------+-----------+-----+-----+-----+-----------+-------+

In [23]:
#leftanti_join = data.join(csdata3,"state","leftanti")

**Left Anti Join** returns only rows from the left DataFrame that have no matching value in the right DataFrame

### Adding a new static column

In [24]:
data2 = csdata4.withColumn('WorldRegion', F.lit('America'))
data2.show()

+-------+-----+-----------+
|country|state|WorldRegion|
+-------+-----+-----------+
|     US|   PR|    America|
|     US|   AZ|    America|
|     US|   FL|    America|
|     US|   AL|    America|
+-------+-----+-----------+

### Dropping a column

In [25]:
data2 = data2.drop('state')
data2.show()

+-------+-----------+
|country|WorldRegion|
+-------+-----------+
|     US|    America|
|     US|    America|
|     US|    America|
|     US|    America|
+-------+-----------+

### Renaming a Column

In [26]:
data2 = data2.withColumnRenamed('WorldRegion', 'World Region')
data2.show()

+-------+------------+
|country|World Region|
+-------+------------+
|     US|     America|
|     US|     America|
|     US|     America|
|     US|     America|
+-------+------------+

### Cleaning Columns

In [27]:
for col in data2.columns:
    data3 = data2.withColumnRenamed(col, col.lower().replace(' ', '_').replace('-', '_'))
data3.show(5)

+-------+------------+
|country|world_region|
+-------+------------+
|     US|     America|
|     US|     America|
|     US|     America|
|     US|     America|
+-------+------------+

### Casting a column to a different data type

In [28]:
data4 = data.withColumn('TotalWages', data.TotalWages.cast("double"))
data4.printSchema()

root
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- EstimatedPopulation: long (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Location: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Long: double (nullable = true)
 |-- Notes: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- State: string (nullable = true)
 |-- TaxReturnsFiled: long (nullable = true)
 |-- TotalWages: double (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Xaxis: double (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- Zipcode: long (nullable = true)

### Coalescing Null Values with a default value

data5 = data.withColumn("Notes", data.Notes.coalesce("not null"))

In [29]:
data5 = data.fillna({'Notes': 'not null'})
data5.show()

+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|State|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|     not null|           1|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|     not null|           2|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|     not null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|
|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|     not null|       61391|   TX|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|
|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|     not null|       61392|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|           FT WORTH|     US|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|     not null|       61393|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|     not null|           4|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|   AZ|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|
|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|     not null|       39828|   AZ|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|
|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|     not null|       49345|   FL|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|
|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|     not null|       49346|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|
|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|     not null|       49347|   FL|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|
|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|     not null|       49348|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|     not null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|
|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|     not null|           3|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|     not null|       54354|   AL|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|
|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|     not null|       54355|   AL|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|
|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|     not null|       54356|   AL|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|
|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|     not null|       76511|   NC|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|
|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|     not null|       76512|   NC|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
only showing top 20 rows